@page "/todo"
<h3>Todo List</h3>
<p class="text-secondary">
    Below input text box has a databinding using @@bind attribute.
    This enables two way databinding between the input control and the "textNewTodo" property.
</p>
<hr />
<input @bind="textNewTodo" placeholder="Add new todo"  />
<button @onclick="AddTodo" class="btn btn-primary">Add</button>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo</li>
    }
</ul>

@code {
    private string textNewTodo;
    private List<string> todos = new List<string>();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(textNewTodo))
        {
            todos.Add(textNewTodo);
            textNewTodo = string.Empty;
        }
    }
}